<footer>
	<section>
		<p class="brand-name mb-0">SPORT CENTER</p>
		<small class="footer-mention d-flex flex-column flex-lg-row justify-content-center align-items-center">
			<span class="nav-item">
				© 2022 Abba Dev
			</span>
			<a class="{{ (route_name starts with 'app_home') ? 'active' : '' }} nav-link" href="{{ path('app_home') }}">
				&nbsp;-&nbsp;Sport Center&nbsp;-&nbsp;
			</a>

			<a class="{{ (route_name starts with 'app_cgu') ? 'active' : '' }} nav-link" href="{{ path('app_cgu') }}">
				Mentions légales
			</a>
		</small>
	</section>
</footer>
