<footer>
	<section>
		<p class="brand-name mb-0">SPORT CENTER</p>
		<small class="footer-mention d-flex flex-column flex-lg-row justify-content-center align-items-center">
			<span class="mx-2">
				© 2022 Abba Dev - Sport Center
			</span>
			<a href="#" class="mx-2">
				Mentions légales
			</a>
			<a href="#" class="ms-2">
				CGU
			</a>
		</small>
	</section>
</footer>
