<!-- Modal -->
<div class="modal fade" id="modal_confirmation" tabindex="-1" aria-labelledby="confirmation modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bg-secondary">
			<div class="modal-header">
				<h5 class="modal-title">{{ modal_title }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body border_none">
				{{ modal_body }}
			</div>
			<div class="modal-footer">
				<button type="button" id="cancel-btn-modal" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
				<button type="button" id="confirmation-btn-modal" class="btn btn-primary">{{ modal_label_btn }}</button>
			</div>
		</div>
	</div>
</div>
