{% set disabled = '' %}
{% for feature in form.feature %}
	{% set checkboxStatus, break, index = '', false, feature.vars.value %}
	{% for inactiveFeature in allInactiveFeatures %}
		{% if break == false %}
			{% if index == inactiveFeature.id  %}
				{% set disabled, break = 'disabled', true %}
			{% else %}
				{% set disabled = '' %}
			{% endif %}
		{% endif %}
	{% endfor %}
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-start justify-start-md-center">
		{{ form_widget(feature, {'disabled': disabled, 'checked': checkboxStatus}) }}
	</div>
{% endfor %}
