{% if modeDisplay is defined %}
	{% if modeDisplay == 'table' %}
		{% set displayCards = 'd-none' %}
		{% set displayTable = '' %}
	{% else %}
		{% set displayTable = 'd-none' %}
		{% set displayCards = '' %}
	{% endif %}
{% else %}
	{% set displayCards = 'd-none' %}
	{% set displayTable = '' %}
{% endif %}
{% if structures|length > 0 %}
	<div class="row m-0 p-0 container-cards-structure {{ displayCards }}">
		{% include "pages/structure/_structure-card.html.twig" with {'structures': structures, 'modeEdit' : true} only %}
	</div>
	<div class="row m-0 p-0 container-table-structure {{ displayTable }} mb-3">
		{% include "pages/structure/_structure-table.html.twig" with {'structures': structures} only %}
	</div>
	{% include "_partials/_pagination.html.twig" %}
{% else %}
	<div class="my-5 alert alert-warning text-center alert-msg-no-result">Aucun enregistrement trouvé</div>
{% endif %}
