{% extends 'base.html.twig' %}

{% block title %}Modifier une structure - Sport Center
{% endblock %}

{% block body %}
	<main class="structure_page_form container">
		<div class="wrapper bg-secondary mb-5 pb-3 pb-sm-4 pb-lg-5 px-3 px-sm-4 px-lg-5">
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<h1 class="py-5 text-uppercase text-center">Modifier une structure</h1>
				</div>
			</div>

			{% include "pages/structure/_form.html.twig" with {'button_text' : 'Modifier', 'opt':'edit-item'} %}
		</div>
	</main>
{% endblock %}
