{% extends 'base.html.twig' %}

{% block title %}Ajouter une structure - Sport Center
{% endblock %}

{% block body %}
	<main class="structure_page_form container">
		<div class="wrapper bg-secondary mb-5 pb-3 pb-sm-4 pb-lg-5 px-3 px-sm-4 px-lg-5">
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<h1 class="py-5 text-uppercase text-center">Ajouter une structure</h1>
				</div>
			</div>
			{% include "pages/structure/_form.html.twig" with {'button_text': 'Ajouter', 'opt' : 'new-item'} %}
		</div>
	</main>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('handle_globals_permissions') }}
{% endblock %}
