@use '../base';
@use '../utils' as u;

@for $i from 1 through 6 {
  .container-cards-commercial .col-12:nth-child(#{$i}n) .card,
  .container-cards-franchise .col-12:nth-child(#{$i}n) .card,
  .container-cards-structure .col-12:nth-child(#{$i}n) .card {
    animation-delay: #{$i * 0.5}s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  85% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.card.card-franchise,
.card.card-structure {
  min-height: 42.7rem;
}
.card.card-commercial,
.card.card-franchise,
.card.card-structure-sm,
.card.card-structure {
  animation: fadeIn 0.69s ease-out;
  animation-fill-mode: both;
  overflow: hidden;
  border: 1px solid rgba(base.$secondary, 0.1);
  border-radius: u.$border-radius-sm;
  box-shadow: u.$shadow-lg;
  background-color: base.$secondary;
  transition: border-color 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
  &:hover {
    box-shadow: none;
    border-color: rgba(base.$light, 0.09);
  }
  .card-body {
    .card-btn-modal {
      min-width: 9.06rem;
    }
  }
  .card-header {
    background-color: base.$dark;
    background: linear-gradient(45deg, base.$secondary, base.$dark);
    box-shadow: u.$shadow-md;
    .card-title {
      min-height: 5rem;
      max-width: 12ch;
    }
  }
  .card-details {
    min-height: 8.6rem;
  }

  @media screen and (min-width: 1000px) {
    // max-width: 455px;
  }
  @media screen and (min-width: 1200px) {
    // max-width: 435px;
    min-width: 435px;
  }
  @media screen and (min-width: 1600px) {
    // width: 400px;
    // max-width: 425px;
  }
}

// @media screen and (min-width: 1000px) {
//   .container-cards-commercial .col-12:nth-child(2n + 1) .card.card-commercial,
//   .container-cards-franchise .col-12:nth-child(2n + 1) .card.card-franchise,
//   .container-cards-structure .col-12:nth-child(2n + 1) .card.card-structure-sm,
//   .container-cards-structure .col-12:nth-child(2n + 1) .card.card-structure {
//     // margin-right: 2rem;
//   }
//   .container-cards-commercial .col-12:nth-child(2n) .card.card-commercial,
//   .container-cards-franchise .col-12:nth-child(2n) .card.card-franchise,
//   .container-cards-structure .col-12:nth-child(2n) .card.card-structure-sm,
//   .container-cards-structure .col-12:nth-child(2n) .card.card-structure {
//     // margin-left: 2rem;
//   }
// }
// @media screen and (min-width: 1400px) {
//   .container-cards-commercial .col-12:nth-child(2n + 1) .card.card-commercial,
//   .container-cards-commercial .col-12:nth-child(2n) .card.card-commercial,
//   .container-cards-franchise .col-12:nth-child(2n + 1) .card.card-franchise,
//   .container-cards-franchise .col-12:nth-child(2n) .card.card-franchise,
//   .container-cards-structure .col-12:nth-child(2n + 1) .card.card-structure-sm,
//   .container-cards-structure .col-12:nth-child(2n + 1) .card.card-structure,
//   .container-cards-structure .col-12:nth-child(2n) .card.card-structure-sm,
//   .container-cards-structure .col-12:nth-child(2n) .card.card-structure {
//     // margin-left: 0;
//     // margin-right: 0.5rem;
//   }
// }
@media screen and (min-width: 1000px) {
  .container-cards-commercial .col-12:nth-child(2n + 1) .card.card-commercial,
  .container-cards-franchise .col-12:nth-child(2n + 1) .card.card-franchise,
  .container-cards-structure
    .col-12:nth-child(2n + 1)
    .card.card-structure:not(.franchise_page_detail
      .container-cards-structure
      .col-12:nth-child(2n + 1)
      .card.card-structure) {
    margin-left: 0;
  }
  .container-cards-commercial .col-12:nth-child(2n) .card.card-commercial,
  .container-cards-franchise .col-12:nth-child(2n) .card.card-franchise,
  .container-cards-structure
    .col-12:nth-child(2n)
    .card.card-structure:not(.franchise_page_detail
      .container-cards-structure
      .col-12:nth-child(2n)
      .card.card-structure) {
    margin-left: 2rem;
  }
  .franchise_page_detail
    .container-cards-structure
    .col-12:nth-child(2n)
    .card.card-structure {
    margin-left: 0rem;
  }
}

@media screen and (min-width: 1400px) {
  .container-cards-commercial .col-12:nth-child(2n + 1) .card.card-commercial,
  .container-cards-commercial .col-12:nth-child(2n) .card.card-commercial,
  .container-cards-franchise .col-12:nth-child(2n + 1) .card.card-franchise,
  .container-cards-franchise .col-12:nth-child(2n) .card.card-franchise,
  .container-cards-structure
    .col-12:nth-child(2n + 1)
    .card.card-structure:not(.franchise_page_detail
      .container-cards-structure
      .col-12:nth-child(2n + 1)
      .card.card-structure),
  .container-cards-structure
    .col-12:nth-child(2n)
    .card.card-structure:not(.franchise_page_detail
      .container-cards-structure
      .col-12:nth-child(2n + 1)
      .card.card-structure) {
    margin-left: 0.4rem;
  }

  .franchise_page_detail
    .container-cards-structure
    .col-12:nth-child(2n)
    .card.card-structure {
    margin-left: 2rem;
  }

  .container-cards-commercial .col-12:nth-child(3n + 1) .card.card-commercial,
  .container-cards-franchise .col-12:nth-child(3n + 1) .card.card-franchise,
  .container-cards-structure
    .col-12:nth-child(3n + 1)
    .card.card-structure:not(.franchise_page_detail
      .container-cards-structure
      .col-12:nth-child(2n)
      .card.card-structure) {
    margin-left: 0;
  }

  .franchise_page_detail
    .container-cards-structure
    .col-12:nth-child(2n + 1)
    .card.card-structure {
    margin-left: 0;
  }
}
