@use '../base';
@use '../utils' as u;

.card.card-structure {
  border: 2px solid rgba(base.$light, 0.1);
  border-radius: u.$border-radius-sm;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.49);
  background-color: base.$secondary;
  min-height: 42.7rem;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: none;
  }
  .card-body {
    .card-delete-btn {
      min-width: 9.06rem;
    }
  }
  .card-header {
    background-color: base.$dark;
    background: linear-gradient(45deg, base.$secondary, base.$dark);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.49);
    .card-title {
      min-height: 5rem;
      max-width: 12ch;
    }
  }
  .card-details {
    min-height: 7.6rem;
  }

  @media screen and (min-width: 1200px) {
    min-width: 430px;
  }
}
