h1:not(.anim-title-js) {
  animation: fadeIn 0.6s forwards ease-out;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
