@use '../base';
@use '../utils' as u;

.feature_page_detail,
.users_page_detail,
.franchise_page_detail,
.structure_page_detail {
  .wrapper {
    border-radius: 0.25rem;
    box-shadow: u.$shadow-sm;
    h1 {
      max-width: 24ch;
    }

    .feature-label,
    .user-label,
    .franchise-label,
    .structure-label {
      // color: #919196;
      color: #a5a5b1;
      text-transform: uppercase;
    }
    // .structure-info {
    //   background-color: rgba(base.$dark, 0.5);
    //   padding: 0.475rem 0.75rem;
    //   font-size: 1rem;
    //   border-radius: 0.25rem;
    //   border: 1px solid #555555;
    //   font-weight: 300 !important;
    // }
    // .commercial-image,
    .franchise-image,
    .structure-image {
      // max-width: 600px;
      width: 100%;
      max-height: 286px;
      object-fit: cover;
      border-radius: 6px 6px 0 0;
      box-shadow: 0 4px 4px rgba(#000, 0.25);
    }
    // .commercial-wrap-status,
    .franchise-wrap-status,
    .structure-wrap-status {
      border-radius: u.$border-radius-sm;
      background-color: base.$secondary;
      background: linear-gradient(45deg, base.$secondary, base.$dark);
      box-shadow: u.$shadow-sm;
      width: 100%;
      padding: 0.775rem 0.75rem 0;
      .img-wrapper {
        position: relative;
        // z-index: 10;
        box-shadow: none;
        overflow: hidden;
        border-radius: u.$border-radius-sm;
        > img {
          transition: transform 0.6s ease-out;
        }
        &:hover > img {
          transform: scale(1.06);
        }
        &::after {
          content: '';
          position: absolute;
          inset: 0;
          box-shadow: inset 0 0 12px rgb(0, 0, 0);
          border-bottom: 1px solid rgb(91, 91, 91);
        }
      }
    }
    .hr {
      // height: 2px;
      width: 50%;
      background-color: #555555;
    }

    // .commercial-details-title,
    .franchise-details-title,
    .structure-details-title {
      height: 3.9rem;
      background-color: base.$dark;
      background: linear-gradient(45deg, base.$secondary, base.$dark);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.49);
      border-radius: 0.25rem 0.25rem 0 0;
    }
    // .commercial-options,
    .franchise-options,
    .structure-options {
      box-shadow: u.$shadow-sm;
      border-bottom: 2px solid base.$primary;
      .franchise-options-content,
      .structure-options-content {
        padding-inline: 4vw;
      }
    }
  }
}
