@use '../base';
body {
  .dashboard_page,
  .feature_page,
  .users_page,
  .franchise_page,
  .structure_page {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    min-height: calc(100vh - 80px);
    background-color: rgba(base.$dark, 0.8);

    @media screen and (min-width: 992px) {
      background: url('../../../images/bg.jpg');
      object-fit: cover;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
    }
    .feature-label,
    .user-label,
    .franchise-label,
    .structure-label {
      color: #a5a5b1;
    }
    label.form-check-label.label-muted,
    label.form-check-label.label-muted-clr {
      color: #a5a5b1;
    }
  }

  main {
    background-color: base.$dark;
  }

  .enable-icon,
  .disable-icon,
  .edit-icon,
  .delete-icon,
  .view-icon,
  .list-icon,
  .card-icon,
  .search-icon {
    height: 1.2rem;
    width: auto;
  }

  // .list-icon,
  // .card-icon,
  // .search-icon {
  //   filter: drop-shadow(0px 2px 1px rgb(0 0 0 / 0.5));
  // }

  .border-active {
    border-bottom: 2px solid base.$success;
  }

  .border-inactive {
    border-bottom: 2px solid base.$danger;
  }

  .container-cards-feature,
  .container-cards-user,
  .container-cards-franchise,
  .container-cards-structure {
    .enable-icon,
    .disable-icon,
    .edit-icon,
    .delete-icon,
    .view-icon {
      padding-right: 0.33rem;
      padding-bottom: 0.2rem;
    }
  }
  // #container-table-commercial table,
  .container-table-user table,
  .container-table-franchise table,
  .container-table-structure table {
    th {
      font-weight: 400;
    }
  }

  .btn-display-card,
  .btn-display-list {
    display: none;
  }

  @media screen and (min-width: 992px) {
    .btn-display-list,
    .btn-display-card {
      display: inline;
    }
  }
}
