.home_page {
  position: relative;
  background-image: url('../../../images/group_fitness.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  min-height: calc(100vh - 170px);
  h1,
  p,
  span {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  }

  .container,
  .row,
  .col {
    min-height: inherit;
  }
}
