@font-face {
  font-family: 'pervitina';
  src: url('../../../../assets/font/Pervitina-Dex-FFP.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Bold.ttf');
  font-weight: bold;
}

$font-pervitina: 'pervitina', Helvetica, sans-serif;
$font-poppins: 'poppins', Helvetica, sans-serif;
