// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@font-face {
  font-family: 'pervitina';
  src: url('../../../../assets/font/Pervitina-Dex-FFP.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Light.ttf');
  font-weight: light;
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Medium.ttf');
  font-weight: medium;
}
@font-face {
  font-family: 'poppins';
  src: url('../../../../assets/font/Poppins-Bold.ttf');
  font-weight: bold;
}

$font-pervitina: 'pervitina', Helvetica, sans-serif;
$font-poppins: 'poppins', Helvetica, sans-serif;
