{% extends "base.html.twig" %}

{% block body %}
	<h1>Test</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus consequatur beatae earum odio corporis similique quam unde quos est quidem exercitationem adipisci commodi voluptatum expedita esse eius, praesentium maxime!
			Veritatis labore magni soluta, cumque illo voluptas voluptatem veniam? Nisi, cumque excepturi. Exercitationem officia iste consequatur maiores quis sequi hic, voluptatibus cumque, suscipit, facilis pariatur illo itaque facere iure odit.
			In dolorum architecto earum suscipit nesciunt, aliquam odio voluptas itaque repellat, id et eligendi sit. Dolorem eligendi temporibus vitae atque saepe nemo, nisi esse iusto numquam dolore, itaque autem labore!
			Ex culpa similique sunt. Impedit quo voluptatum sunt fugit, ad totam sequi eligendi repellat voluptates expedita neque explicabo laudantium quidem illum placeat, quos, porro delectus non est saepe perspiciatis velit!
			Quasi, neque! Qui placeat perspiciatis aliquam, cupiditate dolor hic tempore expedita error voluptatibus doloribus recusandae alias laboriosam obcaecati natus quos! Tenetur at fugiat delectus dolorum. Earum delectus eos possimus velit!
	</p>

{% endblock %}
