{% extends "base.html.twig" %}

{% block body %}
	<main class="home_page">
		<section class="container">
			<div class="row">
				<div class="col-12 offset-lg-6 col-lg-6 d-flex flex-column align-items-start justify-content-center">
					<h1 class="text-primary mb-3">LA FRANCHISE AVEC<br/>SPORT CENTER</h1>
					<p class="fs-3 text-uppercase fw-bold mb-0">Sport Center s’appuie sur des valeurs sportives et humaines fortes :</p>
					<p class="flex">
						<span class="fs-3 text-uppercase fw-bold" {{ stimulus_controller('symfony/ux-typed', { strings: ['Respect', 'Accessibilité', 'Coopération', 'Mixité'], smartBackspace: true, startDelay: 150, backSpeed: 130, backDelay: 1930, loop: true, showCursor: true, cursorChar: ' _ ' } ) }}></span>
					</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
