{% if modeDisplay is defined %}
	{% if modeDisplay == 'table' %}
		{% set displayCards, displayTable = 'd-none', '' %}
	{% else %}
		{% set displayCards, displayTable = '', 'd-none' %}
	{% endif %}
{% else %}
	{% set displayCards, displayTable = 'd-none', '' %}
{% endif %}


{% if users is defined and users|length > 0 %}
	<div id="" class="container-cards-user row m-0 p-0 {{ displayCards }}">
		{% include "pages/user/_user-card.html.twig" with {'users': users, 'categoryUser' : categoryUser} only %}
	</div>
	<div id="" class="container-table-user row m-0 p-0 {{ displayTable }} mb-3">
		{% include "pages/user/_user-table.html.twig" with {'users': users, 'categoryUser' : categoryUser, 'currentPage': currentPage} only %}
	</div>
	{% include "_partials/_pagination.html.twig" %}
{% else %}
	<div class="my-5 alert alert-warning text-center alert-msg-no-result">Aucun enregistrement trouvé</div>
{% endif %}
