{% extends 'base.html.twig' %}

{% if 'ROLE_ADMIN' in user.roles  %}
	{% set titlePage = 'Modifier l\'administrateur' %}
{% endif %}
{% if 'ROLE_COMMERCIAL' in user.roles %}
	{% set titlePage = 'Modifier le commercial' %}
{% endif %}
{% if 'ROLE_MANAGER_FRANCHISE' in user.roles %}
	{% set titlePage = 'Modifier le responsable de franchise' %}
{% endif %}
{% if 'ROLE_MANAGER_STRUCTURE' in user.roles %}
	{% set titlePage = 'Modifier le manager de la structure' %}
{% endif %}

{# Case Profile page #}
{% if isProfilePage is defined and isProfilePage == true %}
	{% set title, titlePage = 'mon profil', 'Mon profil' %}
{% endif %}


{% block title %}
	Modifier {{ title is defined ? title : 'un utilisateur' }} - Sport Center
{% endblock %}

{% block body %}


<main class="users_page_form container">
	<div class="wrapper bg-secondary mb-5 pb-3 pb-sm-4 pb-lg-5 px-3 px-sm-4 px-lg-5">
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
			
					<h1 class="py-5 text-uppercase">{{titlePage}}</h1>
				</div>
			</div>
			{{ include('pages/user/_form.html.twig', {button_text: 'Modifier'}) }}
		</div>
	</main>
{% endblock %}
