// customize some Bootstrap variables
@use './scss/base';

$primary: base.$primary;
$secondary: base.$secondary;
$success: base.$success;
$danger: base.$danger;
$warning: base.$danger;
$info: base.$info;
$light: base.$light;
$dark: base.$dark;
// the ~ allows you to reference things in node_modules
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
