:root {
  --background-color: #1e1e1e;
  --txt-color: #fbfcff;
}

$primary: #ff9000;
$secondary: #303636;
$success: #9be564;
$danger: #e46f62;
$warning: #dff977;
$info: #03ddcf;
$light: #fbfcff;
$dark: #1e1e1e;

h1,
h2,
h3,
h4,
h5 {
  color: $light;
  text-shadow: 0 4px 4px #000;
}

h1.anim-title-js {
  color: transparent;
  text-shadow: none;
}
.linear-gradient {
  background: linear-gradient(45deg, $secondary, $dark);
}

label.label-muted {
  color: #a5a5b1;
}
