@use '../utils' as u;

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: u.$font-poppins, Helvetica, sans-serif;
  background-color: var(--background-color);
  text-rendering: optimizeSpeed;
  color: var(--txt-color);
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0ms !important;
    animation-delay: 0ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0ms !important;
    scroll-behavior: auto !important;
  }
}
