@use '../utils' as u;

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: calc(100vh - 64px);
  // overflow-x: hidden;
  font-family: u.$font-poppins, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--txt-color);
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}
